/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
		font-family:'Balthazar', 'Cardo', 'Petrona', serif;
    font-size: 1em;
    line-height: 1.4;
		word-spacing: 0.1em;
}

p {
	font-size: 20px;
	line-height: 27px;
}

ul li {
	list-style-type: none;
}

.heading {
	float: left;
}

.main-container {
	padding-top: 60px;
}

.main {
    padding: 10px 0;
		text-align:center;
}

.main article h1 {
    font-size: 2em;
	
}


.intro {
    width: 45%;
		text-align: left;		
	 	display: inline-block;
		vertical-align:top;	
    }
	 .intro-img {
		width: 200px;
		height: 250px;
	 	display: inline-block;
		vertical-align:top;
	 	margin-right: 2%;
	 	margin-bottom: 8%;
	 }
.main-side{
		text-align: left;	
	 	display: inline-block;
		vertical-align:top;	
		padding: 0px 1% 10px;	
    } 

.more {
		margin-top: -1em;
}

.writing-top {
		marging-bottom: 0;
}

#dropdown {
		display: none; 
}
#dd:focus {
		display:none;
}
#dd:focus + #dropdown {
		display: block;
}

h1 {
	font-family: 'Znikomit';
	
}

ul {
	padding:0;
}
li {
	padding:0;
	line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
		clear: both;
}

img {
    vertical-align: middle;
}

.col a {
		text-decoration:none;
}

.p-img {
		margin:10px;
		width: 80%;
}
.p-heading {
		text-align:center;
}

.port {
		background-color: #8f6;
}

.descrip {
		text-align: left;
		padding-left: 15px;
}
.portfolio {
		width: 310px;
		border: 1px dotted gray;
		display: inline-block;
		margin: 10px;
		vertical-align:top;
}

.col{
		 text-align: center;
}

.r-img {
		height: 250px;
		width: 200px;
		border: 1px dotted gray;
		display: inline-block;
		padding: 5px;
		margin: 10px;
}

.col-book ul li {
		display: inline;
}


.page h2 {
		text-align:center;
}

.reading {
		background-color: #ccc;
}
.writingall {
		text-align: left;
		margin-left: 30%;
}

.writing {
		background-color: purple;
}

.writing-aside {
		width:25%;
		display: inline-block;
		text-align: left;
		vertical-align: top;
}

.writing-article {
		width:73%;
		display: inline-block;
		text-align: left;
		vertical-align: top;
}

a { 
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}




/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    /* font: 16px/26px Helvetica, Helvetica Neue, Arial; */
    /*font-family: "Lucida Grande", "Lucida Sans Unicode", verdana, sans-serif;	*/
}

/*h1, h2, h3, h4, h5, h6 {
	font-family: ff-tisa-web-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
}*/

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
		display: inline;
		padding: 2px 5px;
		float: right;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
}    

nav a:hover,
nav a:visited {
    
}

nav a:hover {
    text-decoration: underline;
}


/* ==============
    MOBILE: Main
   ============== */



.footer-container footer {
	border-top: thin solid black;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
    }

/* ============
    WIDE: Main
   ============ */

    

    
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


