<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  <head lang="en">
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="general relativity, physics">
  	<meta name="author" content="cssbubble" >

    <title>{{ page.title }} :: Nilesh Trivedi</title>
    
		<link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">

		<link rel="shortcut icon" type="image/icon" href="fevicon.ico">
		
		<link rel="apple-touch-icon-precomposed" sizes="144×144" href="/apple-touch-icon-144×144-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114×114" href="/apple-touch-icon-114×114-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72×72" href="/apple-touch-icon-72×72-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="57×57" href="/apple-touch-icon-57×57-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />

		<link href='http://fonts.googleapis.com/css?family=Exo+2:300|Alegreya+Sans:300|Alef' rel='stylesheet' type='text/css'>
	</head>

  <body>

		<div class="header-container">
    	<header class="wrapper clearfix">
				
        <nav class="header-nav">
     	    <ul>
     	      <li><h1><a href="/" class="heading">nilesh trivedi</a></h1></li>
         		<li><a href="/work.html">work</a></li>
	   	      <li><a href="/thoughts.html">thoughts</a></li>
						<li><a href="/music.html">music</a></li>
						<li><a href="/reading.html">reading</a></li>
						<li><a href="https://www.twitter.com/nileshtrivedi" target="_blank">twitter</a></li>
            <li><a href="https://www.github.com/nileshtrivedi" target="_blank">github</a></li>
          </ul>
        </nav>
      </header>
    </div><!-- header-container -->

		<div class="main-container">
	   	<div class="main wrapper clearfix">

				<div class="topic">
					<h2 class="writing">{{ page.title }} </h2>				
				</div>					

				<div class="writing-article">
{{ content }}
				</div>

				<hr>

				<div class="writingall">
					<h4>All Articles </h4>
            		<ul>
              		<li><a href="/2013/09/06/a-bottom-up-explanation-of-general-relativity.html">A bottom-up explanation of general relativity</a></li>
							    <li><a href="/2013/06/20/reciprocity-in-open-access.html">Reciprocity In Open Access</a></li>
							    <li><a href="/2012/12/06/use-an-algorithm-as-your-password.html">Use An Algorithm As Your Password</a></li>
							    <li><a href="/2012/07/10/how-much-is-enough.html">How much is enough</a></li>
            			<li><a href="search-results-are-the-only-relevant-advertis">Search results are the only relevant advertising</a></li>
            			<li><a href="live-coding">Live coding</a></li>
							    <li><a href="936-months">936 months</a></li>
            			<li><a href="why-philosophize">Should We Philosophize ?</a></li>
							    <li><a href="a-quick-introduction-to-ruby">A Quick Introduction To Ruby</a></li>
	           			<li><a href="monsoon-treks-in-maharashtra">Monsoon Treks In Maharashtra</a></li>
							    <li><a href="ubuntu-1004-lucid-lynx-on-dell-vostro-1520">Ubuntu 10.04 (Lucid Lynx) on Dell Vostro 1520</a></li>
								</ul>
	      </div>

      </div> <!-- #main -->
    </div> <!-- #main-container -->

		<div class="footer-container">
			<footer class="wrapper clearfix">
				<nav class="footer-nav">
     	    <ul>
	   	      <li><a href="work.html">work</a></li>
	   	      <li><a href="thoughts.html">thoughts</a></li>
						<li><a href="music.html">music</a></li>
						<li><a href="reading.html">reading</a></li>
						<li><a href="https://www.twitter.com/nileshtrivedi" target="_blank">twitter</a></li>
            <li><a href="https://www.github.com/nileshtrivedi" target="_blank">github</a></li>
          </ul>
        </nav>
      </footer>
		</div>
		

  </body>

</html>
