<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
<script type="text/javascript">
    var host = "www.nileshtrivedi.com";
    if ((host == window.location.host) && (window.location.protocol != "https:")){
        window.location.protocol = "https";
    }
</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nilesh Trivedi :: {{ page.title }}</title>
<link rel="canonical" href=" { { site.url } }{ { page.url } }" />		
		<link rel="shortcut icon" type="image/icon" href="fevicon.ico">
		
		<link rel="apple-touch-icon-precomposed" sizes="144×144" href="/apple-touch-icon-144×144-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114×114" href="/apple-touch-icon-114×114-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72×72" href="/apple-touch-icon-72×72-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="57×57" href="/apple-touch-icon-57×57-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />

    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">

		<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300|Exo+2:300|Alef' rel='stylesheet' type='text/css'>
  </head>
  <body>
{{ content }}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1832484-10']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
